img {
  width:25%;
  min-width: 100px;
  float: left;
  margin: 3px;
}
section::after {
  content: "";
  display: block;
  clear: both;
}
div {
  float:left;
  width:46%;
  text-align: center;
  background-color: grey;
  padding:5px;
  box-sizing: border-box;
  margin:2%;
}
